# Compiled binaries
*.out
*.exe
*.app
*.bin

# Build Files
build/

# Object files
*.o

# VS-Code Data
.vscode
# Visual Studio artifacts
*.v2
*.vsidx
*.suo
DocumentLayout.json

# folders
build/
obj/
bin/
